body {
	background-color: #2D3236;
	font-family: 'Glyphicons Halflings', 'Verdana';
	margin: 0;
	color: #505050;
}

nav {
	height: 25px;
	margin: 10px;
	padding: 10px;
}

.main {
	background-color: #FFFFFF;
	font-size: 7.5px;
}

button {
	border: none;
	padding: 8px 20px;
	margin: auto;
	display: block;
	color: #FFFFFF;
	font-size: 9px;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	animation: textcolorchange 1s;
}

figure {
	background-color: #f5f5f5;
	object-fit: contain;
	margin: 20px 10px;
	animation: backgroundcolorchange 15s;
}


/*animations*/

@keyframes backgroundcolorchange {
	0% {
		background-color: #f5f5f5;
	}
	25% {
		background-color: #87cefa;
	}
	50% {
		background-color: #7ec0ee;
	}
	75% {
		background-color: #4081ae;
	}
	100% {
		background-color: #f5f5f5;
	}
}

@keyframes textcolorchange {
	0% {
		color: #f5f5f5;
	}
	25% {
		color: #87cefa;
	}
	50% {
		color: #7ec0ee;
	}
	75% {
		color: #4081ae;
	}
	100% {
		color: #f5f5f5;
	}
}


/*row1 * row2 styles*/

.main__row1 figure {
	max-width: 200px;
}

.main__row2 figure {
	max-width: 300px;
}

.main__row1 figure img {
	max-width: 200px;
	max-height: 100px;
}

.main__row2 figure img {
	max-width: 300px;
	max-height: 150px;
}

.main__row1,
.main__row2,
.main__row3,
.main__row4 {
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	display: flex;
}

.main__row2,
.main__row3 {
	align-items: flex-start;
}

.main__row2 figure figcaption h3 {
	text-align: center;
}

.main__row2 figure button {
	float: right;
	margin-right: 30px;
	background-color: #f5f5f5;
	text-align: right;
	justify-content: right;
	color: #000000;
	border: 0.5px #808080 solid;
}

.main div figure figcaption {
	padding: 0px 10px;
}

.main__row2 figure figcaption h3 {
	text-align: cetner;
	justify-content: center;
}


/* styling buttons*/

.main .main__row1 figure:nth-of-type(2) h3 {
	color: #0080ff;
}


/* not working!
.main .row1 figure:nth-of-type(2) button {
    background-color: ‎#0080ff;
}
*/

.main__row1 figure:nth-of-type(3) h3 {
	color: #FF0000;
}


/* not working!
.main .row1 figure:nth-child(3) button {
    background-color: ‎#FF0000;
}
*/

.main__row1 figure:first-child button {
	background-color: #228B22;
}

.main .main__row1 figure:nth-of-type(1) h3 {
	color: #228B22;
}


/*navigation bar*/

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: row wrap;
	margin: 0px;
	padding: 5px;
}

li a {
	text-decoration: none;
	color: #FFFFFF;
	border: 0.5px solid #808080;
	width: 8px;
	height: 4px;
	padding: 10px;
	text-align: center;
	margin: 5px;
	font-size: 10px;
	animation: backgroundcolorchange 15s;
}

li a:hover {
	background-color: #2f4f4f;
}

.body__banner {
	background-image: url('./img/bg-1.jpg');
	background-size: cover;
	background-position: center;
	height: 300px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-flow: column wrap;
	color: #FFFFFF;
}

.body__banner h1 {
	text-shadow: 2px 2px 4px #000000;
}

.body__banner h1,
h5 {
	margin: 0px;
	font-weight: normal;
}

.body__prefoot {
	background-image: url('./img/bg-2.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 170px;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-flow: column wrap;
	color: #FFFFFF;
	font-size: 11px;
}

.fa-chevron-circle-up {
	color: #2D3236;
}

.body__prefoot h3 {
	animation: textcolorchange 15s;
}

.body__prefoot a i {
	position: fixed;
	right: 10px;
	bottom: 15px;
}

.icon {
	display: none;
}


/*tablet*/

@media screen and (max-width: 574px) {
	.topnav {
		height: 0px;
		margin: 0px;
		padding: 1px;
	}
	.topnav a {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
		background-color: #2D3236;
		position: absolute;
		right: 10px;
	}
	.body__banner h1,
	h5 {
		display: none;
	}
}

@media screen and (max-width: 574px) {
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
		position: fixed;
		right: 12px;
		top: 5px;
		width: 20px;
	}
	.topnav.responsive ul {
		display: block;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		width: 95%;
		background-color: #2D3236;
		height: 15px;
		margin: 0px;
	}
	.topnav.responsive li:first-child {
		margin-top: 10px;
	}
	.topnav.responsive ul {
		margin-top: 25px;
	}
}


/* row3 & row4 styles*/

.main__row3 figure {
	max-width: 140px;
	height: 280px;
}

.main__row4 figure img {
	max-width: 615px;
	min-width: 200px;
}

.main__row3 figure img {
	max-width: 140px;
	max-height: 140px;
}


/* contact form */

form {
	background-image: url('./img/bg-3.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
	margin: 0px;
	padding: 20px;
	color: #2D3236;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-flow: column wrap;
}

.form__box {
	display: flex;
	flex-flow: row;
	padding: 5px;
}

form h1 {
	color: #FFFFFF;
	padding: 20px;
	margin: 0px;
}

form p {
	font-size: 11px;
}

form h3,
form p,
input[type=text],
textarea {
	background-color: #ffffff;
	opacity: 0.6;
	padding: 5px;
	margin: 0px;
	border-radius: 4px;
	border: 0px;
}

.form__inputarea textarea {
	justify-content: left;
	width: 50%;
}

.form__inputarea input {
	justify-content: right;
	display: flex;
}

.form__inputarea input,
textarea {
	margin: 5px;
	font-size: 11px;
}

input[type=text] {
	height: 14px;
}

input[type=submit] {
	background-color: #2D3236;
	color: #ffffff;
	;
	padding: 8px 15px;
	border: 0.5px solid #ffffff;
	;
	border-radius: 4px;
	cursor: pointer;
	background-size: 15px 20px;
}


/* footer */

footer {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-flow: column wrap;
	height: 180px;
	width: 100%;
	background-color: #FFFFFF;
	text-align: center;
	padding-left: 5px;
	color: #606060;
}

footer p a:link {
	text-decoration: none;
}

footer h3 {
	font-style: italic;
	margin: 0px;
}

footer p:first-of-type {
	margin-bottom: 40px;
	font-size: 11px;
}

footer p:nth-of-type(2) {
	margin-top: 10px;
	font-size: 8.5px;
}
